<div class="px">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <input type="text" class="form-control" name="question" placeholder="Your question">
    <input type="submit" value="Ask!">
  </form>
</div>
